<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="2.0.0">
  <admin>
	<adminpage id="admin" permissionrole="r_adminuser" navcategory="website" entity="admin">
		<entity dbtable="admin">
		    <overview edit="true" delete="true">
		    	<column id="entity_admin_name" type="text" field="name" filter="true" sort="true" />
		    	<column id="entity_admin_email" type="email" field="email" filter="true" />
		    	<column id="entity_admin_r_admin" type="boolean" field="r_admin" filter="true" />
		    </overview>
		    <editform>
				<field id="name" type="text" required="true" />
				<field id="passwort" type="password" required="true" converter="AdminPasswordConverter" />
				<field id="email" type="email" required="true" />
				<field id="r_admin" type="boolean" />
				<field id="r_adminuser" type="boolean" />
				<field id="r_user" type="boolean" />
				<field id="r_daten" type="boolean" />
				<field id="r_staerken" type="boolean" />
				<field id="r_spiele" type="boolean" />
				<field id="r_news" type="boolean" />
				<field id="r_demo" type="boolean" />
		    </editform>
		</entity>
	</adminpage>
  </admin>
</module>
