<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
  <actions>
	<action id="login" controller="FormLoginController" role="guest">
		<param id="loginstr" type="text" required="true"/>
		<param id="loginpassword" type="text" required="true" max="32" />
		<param id="rememberme" type="boolean" />
	</action>
	<action id="send-password" controller="SendPasswordController" role="guest">
		<param id="useremail" type="text" required="true" validator="EmailValidator"/>
	</action>
	<action id="activate" controller="UserActivationController" role="guest">
		<param id="userid" type="number" required="true" />
		<param id="key" type="text" required="true" />
	</action>
  </actions>
</module>
