<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    <actions>
        <action id="rename-club" controller="RenameClubController" role="user" log="true">
        	<param id="name" type="text" required="true" min="8" max="24"/>
        	<param id="kurz" type="text" required="true" min="3" max="4"/>
        	<param id="stadium" type="text" required="true" min="8" max="24"/>
        </action>
    </actions>
</module>
