<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
  <actions>
	<action id="save-live-formation" controller="SaveMatchChangesController" role="user">
	    <param id="id" type="number" required="true" min="1" />
		<param id="offensive" type="number" required="true" min="1" max="100" />
		<param id="longpasses" type="boolean" />
		<param id="counterattacks" type="boolean" />
		<param id="freekickplayer" type="number" />
		<param id="player1" type="number" />
		<param id="player2" type="number" />
		<param id="player3" type="number" />
		<param id="player4" type="number" />
		<param id="player5" type="number" />
		<param id="player6" type="number" />
		<param id="player7" type="number" />
		<param id="player8" type="number" />
		<param id="player9" type="number" />
		<param id="player10" type="number" />
		<param id="player11" type="number" />
		<param id="player1_pos" type="text" />
		<param id="player2_pos" type="text"  />
		<param id="player3_pos" type="text" />
		<param id="player4_pos" type="text" />
		<param id="player5_pos" type="text" />
		<param id="player6_pos" type="text" />
		<param id="player7_pos" type="text" />
		<param id="player8_pos" type="text" />
		<param id="player9_pos" type="text" />
		<param id="player10_pos" type="text" />
		<param id="player11_pos" type="text" />
		<param id="sub1_out" type="number" />
		<param id="sub1_in" type="number" />
		<param id="sub1_minute" type="number"/>
		<param id="sub1_condition" type="text" />
		<param id="sub1_position" type="text" />
		<param id="sub2_out" type="number" />
		<param id="sub2_in" type="number" />
		<param id="sub2_minute" type="number" />
		<param id="sub2_condition" type="text" />
		<param id="sub2_position" type="text" />
		<param id="sub3_out" type="number" />
		<param id="sub3_in" type="number" />
		<param id="sub3_minute" type="number" />
		<param id="sub3_condition" type="text" />
		<param id="sub3_position" type="text" />
	</action>
  </actions>
</module>
