{% import "macros/messagebox.twig" as messagebox %}

{{ messagebox.box(Message("absence_warning"), "", "warning") }}

<p><a href="{{ env.getInternalActionUrl("return-from-absence") }}" class="btn"><i class="icon-signin"></i> {{ Message("absence_return_button") }}</a></p>
