<p class="text-right"><i class="icon-rss-sign"></i> <a href="{{ Config("context_root") }}/webservices/rss.php?page=rss-results&id={{ env.user.id }}&lang={{ i18n.getCurrentLanguage() }}" target="_blank">{{ Message("rss_link_label") }}</a></p>
