{% if Config("upload_clublogo_max_size") > 0 and env.user.clubId == Request("id") %}
<p style="margin-bottom: 20px;"><a href="{{iUrl("upload-clublogo") }}" class="btn btn-small">
	<i class="icon-upload"></i> {{ Message("upload-clublogo_navlabel") }}
</a></p>
{% endif %}