<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
	<actions>
		<action id="sell-youthplayer" controller="SellYouthPlayerController" role="user" log="true">
			<param id="transfer_fee" type="number" required="true" min="1" max="1000000000" />
			<param id="id" type="number" required="true" />
		</action>
		<action id="remove-youthplayer-from-market" controller="RemoveYouthPlayerFromMarketController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		<action id="fire-youthplayer" controller="FireYouthPlayerController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		<action id="buy-youthplayer" controller="BuyYouthPlayerController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		<action id="move-youthplayer-to-professional" controller="MoveYouthPlayerToProfessionalController" role="user">
			<param id="id" type="number" required="true" />
			<param id="mainposition" type="text" required="true" />
		</action>
		<action id="scout-youthplayer" controller="ScoutYouthPlayerController" role="user">
			<param id="scoutid" type="number" required="true" />
			<param id="country" type="text" required="true" />
		</action>
		<action id="create-youthmatch-request" controller="CreateYouthMatchRequestController" role="user" log="true">
			<param id="matchdate" type="number" required="true" />
			<param id="reward" type="number" required="false" min="1" />
		</action>
		<action id="cancel-youth-match-request" controller="CancelYouthMatchRequestController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		<action id="accept-youth-match-request" controller="AcceptYouthMatchRequestController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		<action id="save-youth-formation" controller="SaveYouthFormationController" role="user">
			<param id="matchid" type="number" required="true" />
			<param id="setup" type="text" required="true" />
			<param id="player1" type="number" required="true" />
			<param id="player2" type="number" required="true" />
			<param id="player3" type="number" required="true" />
			<param id="player4" type="number" required="true" />
			<param id="player5" type="number" required="true" />
			<param id="player6" type="number" required="true" />
			<param id="player7" type="number" required="true" />
			<param id="player8" type="number" required="true" />
			<param id="player9" type="number" required="true" />
			<param id="player10" type="number" required="true" />
			<param id="player11" type="number" required="true" />
			<param id="bench1" type="number" />
			<param id="bench2" type="number" />
			<param id="bench3" type="number" />
			<param id="bench4" type="number" />
			<param id="bench5" type="number" />
			<param id="sub1_out" type="number" />
			<param id="sub1_in" type="number" />
			<param id="sub1_minute" type="number" />
			<param id="sub1_condition" type="text" />
			<param id="sub2_out" type="number" />
			<param id="sub2_in" type="number" />
			<param id="sub2_minute" type="number" />
			<param id="sub2_condition" type="text" />
			<param id="sub3_out" type="number" />
			<param id="sub3_in" type="number" />
			<param id="sub3_minute" type="number" />
			<param id="sub3_condition" type="text" />
		</action>
	</actions>
</module>
