<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
  <actions>
	<action id="extend-contract" controller="ExtendContractController" role="user" log="true">
		<param id="salary" type="number" required="true" max="1000000000" />
		<param id="goal_bonus" type="number" required="false"/>
		<param id="matches" type="number" required="true" min="20" max="100"/>
		<param id="id" type="number" required="true" />
	</action>
	<action id="save-tickets" controller="SaveTicketsController" role="user" log="true">
		<param id="p_stands" type="number" required="true" min="1" max="1000" />
		<param id="p_seats" type="number" required="true" min="1" max="1000" />
		<param id="p_stands_grand" type="number" required="true" min="1" max="1000" />
		<param id="p_seats_grand" type="number" required="true" min="1" max="1000" />
		<param id="p_vip" type="number" required="true" min="1" max="1000" />
	</action>
	<action id="markAsUnsellable" controller="MarkAsUnsellableController" role="user">
		<param id="id" type="number" required="true" min="1" max="1000000000" />
	</action>
	<action id="unmarkUnsellable" controller="UnmarkUnsellableController" role="user">
		<param id="id" type="number" required="true" min="1" max="1000000000" />
	</action>
	<action id="select-captain" controller="SelectCaptainController" role="user" log="true">
		<param id="id" type="number" required="true" min="1" max="1000000000" />
	</action>
  </actions>
</module>
