<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
  <actions>
	<action id="extend-stadium" controller="ExtendStadiumController" role="user">
	    <param id="validate-only" type="boolean" />
		<param id="side_standing" type="number" min="1" max="10000" />
		<param id="side_seats" type="number" min="1" max="10000" />
		<param id="grand_standing" type="number" min="1" max="10000" />
		<param id="grand_seats" type="number" min="1" max="10000" />
		<param id="vip" type="number" min="1" max="1000" />
		<param id="offerid" type="number" max="100000000" />
	</action>
	<action id="accept-stadium-construction-work" controller="AcceptStadiumConstructionWorkController" role="user" />
	<action id="upgrade-stadium" controller="UpgradeStadiumController" role="user" log="true">
	    <param id="type" type="text" required="true" />
	</action>
  </actions>
</module>
