<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    <admin>
        <adminpage
            id="transfer_offer"
            entity="transfer_offer"
            navcategory="league"
            permissionrole="r_daten" >
            <entity dbtable="transfer_offer AS OfferTab" >
                <overview add="false" delete="true" edit="false" >
                    <column
                        id="entity_transfer_offer_submitted_date"
                        field="OfferTab.submitted_date"
                        type="timestamp"
                        sort="true" />
                    <column
                        id="entity_transfer_offer_player_id"
                        field="CONCAT(PlayerTab.vorname, ' ', IF(PlayerTab.kunstname IS NOT NULL, CONCAT('\'', PlayerTab.kunstname, '\' '), ''), PlayerTab.nachname)"
                        type="text"
                        sort="true"
                        filter="true" />
                    <column
                        id="entity_transfer_offer_receiver_club_id"
                        field="ClubTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    <column
                        id="entity_transfer_offer_sender_club_id"
                        field="SenderClubTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    <column
                        id="entity_transfer_offer_offer_amount"
                        field="OfferTab.offer_amount"
                        type="number"
                        sort="true" />
                    <column
                        id="entity_transfer_offer_offer_player1"
                        field="CONCAT(ExPlayer1Tab.vorname, ' ', ExPlayer1Tab.nachname)"
                        type="text"
                        sort="true"
                        filter="true" />
                    <column
                        id="entity_transfer_offer_offer_player2"
                        field="CONCAT(ExPlayer2Tab.vorname, ' ', ExPlayer2Tab.nachname)"
                        type="text"
                        sort="true"
                        filter="true" />
                    <column
                        id="entity_transfer_offer_rejected_date"
                        field="OfferTab.rejected_date"
                        type="timestamp"
                        sort="true" />
                    <column
                        id="entity_transfer_offer_admin_approval_pending"
                        field="OfferTab.admin_approval_pending"
                        type="boolean"
                        sort="true"
                        filter="true"
                        converter="TransferOfferApprovalLinkConverter" />
                    <join type="INNER" jointable="spieler AS PlayerTab" joincondition="OfferTab.player_id = PlayerTab.id" />
                	<join type="INNER" jointable="verein AS ClubTab" joincondition="OfferTab.receiver_club_id = ClubTab.id" />
                	<join type="INNER" jointable="verein AS SenderClubTab"
                	    joincondition="OfferTab.sender_club_id = SenderClubTab.id" />
                	<join type="LEFT" jointable="spieler AS ExPlayer1Tab" joincondition="OfferTab.offer_player1 = ExPlayer1Tab.id" />
                	<join type="LEFT" jointable="spieler AS ExPlayer2Tab" joincondition="OfferTab.offer_player2 = ExPlayer2Tab.id" />
                </overview>
                <editform>
                    <field id="submitted_date" type="timestamp" required="true" />
                    <field id="player_id" type="foreign_key" entity="player"
					    jointable="spieler" labelcolumns="nachname, vorname" required="true" />
					<field id="receiver_club_id" type="foreign_key" entity="club"
					    jointable="verein" labelcolumns="name" required="true" />
					<field id="sender_club_id" type="foreign_key" entity="club"
					    jointable="verein" labelcolumns="name" required="true" />
					<field id="sender_user_id" type="foreign_key" entity="users"
					    jointable="user" labelcolumns="nick" required="true" />
					<field id="offer_amount" type="number" required="true" />
					<field id="offer_message" type="textarea" required="false" />
					<field id="offer_player1" type="foreign_key" entity="player"
					    jointable="spieler" labelcolumns="nachname, vorname" required="false" />
					<field id="offer_player2" type="foreign_key" entity="player"
					    jointable="spieler" labelcolumns="nachname, vorname" required="false" />
                </editform>
            </entity>
        </adminpage>
    </admin>
</module>
