<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
  <actions>
	<action id="choose-trainer" controller="ChooseTrainerController" role="user">
	    <param id="id" type="number" required="true" min="1" max="2000000000" />
		<param id="units" type="number" required="true" min="5" max="20" />
	</action>
	<action id="execute-training" controller="ExecuteTrainingController" role="user" log="true">
	    <param id="id" type="number" required="true" min="1" max="2000000000" />
		<param id="focus" type="text" required="true" min="2" max="3" />
		<param id="intensity" type="number" required="true" min="1" max="100" />
	</action>
  </actions>
</module>
