{% extends "base.twig" %}

{% block browser_title %}
{{ Config("projectname") }}
{% endblock %}

{% block page_header %}
<h1>{{ Message('offline_title') }}</h1>
{{ offline_message|raw  }}
{% endblock %}

{% block page_columns %}
&nbsp;
{% endblock %}
{% block navigation %}
&nbsp;
{% endblock %}

