<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
	<actions>
		<action id="directtransfer-offer" controller="DirectTransferOfferController" role="user" log="true">
			<param id="id" type="number" required="true" />
			<param id="amount" type="number" required="true" min="1" max="1000000000" />
			<param id="exchangeplayer1" type="number" />
			<param id="exchangeplayer2" type="number" />
			<param id="comment" type="text" max="255" />
		</action>
		<action id="directtransfer-accept" controller="DirectTransferAcceptController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		<action id="directtransfer-cancel" controller="DirectTransferCancelController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		<action id="directtransfer-reject" controller="DirectTransferRejectController" role="user">
			<param id="id" type="number" required="true" />
			<param id="comment" type="text" max="255" />
			<param id="allow_alternative" type="boolean" />
		</action>
	</actions>
</module>
