<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
  	<actions>
  	    <action id="exchange-premium" controller="ExchangePremiumController" role="user">
  	        <param id="validateonly" type="boolean" />
  	        <param id="amount" type="number" min="1" required="true" />
  	    </action>
  	</actions>
</module>
