<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    <actions>
        <action id="add-national-player" controller="AddNationalPlayerController" role="user">
            <param type="number" id="id" required="true"/>
        </action>
        <action id="remove-national-player" controller="RemoveNationalPlayerController" role="user">
            <param type="number" id="id" required="true"/>
        </action>
    </actions>
</module>
